*{
    font-family: 'Montserrat', sans-serif;
    margin : 0;
    color : white;
    overflow: hidden;
}

.main {
    display:flex;
    height:100vh;
    padding:0.5rem;
}

.sidebar{
    background-color: black;
    width:360px;
    border-radius: 1rem;
    margin-right:0.5rem;
}

.main-content{
    background-color: #121212;
    flex:1;
    border-radius: 1rem;
    overflow: auto;
}

.music-player{
    background-color: black;
    position:fixed;
    bottom:0;
    width:100%;
    height:72px;
}

a{
    text-decoration: none;
    background-color: #121212;
    color : fff;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height : 100px;
    padding : 0.5rem 0.75rem;
}

.nav-option{
    background-color: #121212;
    line-height: 2.5rem;
    opacity:0.7;
    padding:0.5rem 0.75rem ;
}

.nav-option:hover{
    opacity:1;
}

.nav-option i {
    font-size : 1.25rem;
}

.nav-option a {
    font-size:1rem;
}

.library {
     background-color: #121212;
     border-radius:1rem;
     height:100%;
     margin-top:0.75rem;
     padding:0.5rem 0.75rem; 
}

.options {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
    height : 1.25rem;
    width : 1.25rem;
}

.icons {
    font-size:1.25rem;
    display: flex;
}
.icons i {
     opacity:0.7;
    margin-right:1rem;
}

.icons i:hover {
    opacity: 1;
}

.box{
    height:8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin:0.75rem 0 1.75rem 0;
    padding:1rem 1.25rem;
}

.box-p1{
    font-size:1rem;
    font-weight: 500;
    margin:0.8rem 0.2rem;
}
.box-p2{
    font-size:0.85rem;
    opacity:0.9;
    margin:0.5rem 0.2rem;
}
.badge{
    background-color: white;
    color:black;
    border:none;
    border-radius: 1rem;
    padding:0.25rem 1rem;
    font-weight: 600;
    margin:0.5rem 0.2rem;
    height:2rem;
    width:fit-content;
}

.dark-badge {
    background-color: black;
    color:white;
}

.sticky-nav{
    position:sticky;
    top:0;
    background-color: #121212;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0 1rem 0;
}

.sticky-nav-arrows {
    margin-left:0.8rem;
}

.sticky-nav-options {
    display : flex;
    justify-content: center;
    align-items: center;
    margin-right:0.8rem;
}
.nav-item{
    margin-right:1rem;
}

@media (max-width: 1000px) {
    .hide{
        display:none;
    }
}